<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{$langs['CONTROLLER']}</title>
		<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__CSS__/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="__CSS__/table.css" />
		<block name="style"><!-- 样式 --></block>
	</head>
	<body class="laydate_body">
		<div class="layui-layout layui-layout-admin">
				<block name="content">内容</block>
		</div>
	</body>
	<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
	<block name="script">
		<script type="text/javascript">
		layui.config({
			base: '__JS__',
		});
		layui.use('form', function(){
		  var $ = layui.jquery, layer = layui.layer, form = layui.form();
		  
		  //全选
		  form.on('checkbox(allChoose)', function(data){
		    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
		    child.each(function(index, item){
		      item.checked = data.elem.checked;
		    });
		    form.render('checkbox');
		  });
		  //询问删除
		  $(".del").click(function(){
			  var obj = $(this)
			  layer.confirm('您是如何看待前端开发？', {
				  btn: ['是','否'] //按钮
				}, function(){
				  var url = obj.attr('link');
				  window.location.href = url;
				});
		  });
		});
		</script>
	</block>
</html>