<extend name="Public:admin" />
<block name="content">
<div class="layui-main">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	  <legend>编辑公司</legend>
	</fieldset>
	<form action="{:U('User/edit',array('id'=>$_GET['id']))}" method='POST' class="layui-form" >
		<div class="layui-form-item">
		    <label class="layui-form-label">公司名称</label>
		    <div class="layui-input-inline">
		      <input type="text" name="username" value="{$info['username']}" lay-verify="title" autocomplete="off" placeholder="请输入要新建的公司" class="layui-input">
		    </div>
		  </div>
		  	<div class="layui-inline">
		    	  <label class="layui-form-label">用户等级</label>
			      <div class="layui-input-inline">
			        <select name="grade" lay-verify="text" lay-search="">
			          <option value="">请选择用户等级</option>
			          <if condition="session('admin_user.grade') eq 1">
			          <option value="2" <eq name="info['grade']" value='2'>selected=""</eq>>管理员</option>
			          </if>
			          <if condition="(session('admin_user.grade') eq 1) or (session('admin_user.grade') eq 2)">
			          <option value="3" <eq name="info['grade']" value='3'>selected=""</eq>>初级管理员</option>			          
			        </select>
		        </div>
		    </div>
		  <div class="layui-form-item" pane="">
		    <label class="layui-form-label">用户sid</label>
		    <div class="layui-input-block">
		    	<volist name='sidList' id="vo">
		      		<input type="checkbox" name="slist[]" value="{$vo['id']}" lay-skin="primary" title="（{$vo['id']}）{$vo['title']}" <if condition="in_array($vo['id'],$sid)">checked=""</if>>
		      	</volist>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
		    </div>
		  </div>
	</form>
</div>
</block>