<extend name="$_home_public_layout"/>

<block name="main">
    <div class="container">
        <div class="row ucenter-row">
            <div class="col-xs-12 col-md-3">
                <include file="$_user_center_side" /><!-- 包含用户中心侧边导航 -->
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        私信列表
                    </div>
                    <div class="panel-body">
                        <volist name="recent_list" id="vo">
                            <div class="media">
                                <div class="media-left">
                                    <a target="_blank" href="{:U('User/Index/Home', array('uid' => $vo['to_uid']))}">
                                        <img class="media-object" src="{$vo.to_avatar_url}" width='42'>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="{:U('index', array('to_uid' => $vo['to_uid']))}">
                                            <span>{$vo.to_nickname}</span>
                                            <notempty name="vo.new_message_count">
                                                <span class="badge badge-danger"> {$vo.new_message_count}条新私信</span>
                                            </notempty>
                                        </a>
                                        <a class="pull-right ajax-get small" href="{:U('delete', array('id' => $vo['id']))}">
                                            删除
                                        </a>
                                    </h4>
                                    <p>{$vo.message} <span class="text-muted">发送于{$vo.create_time_format}</span></p>
                                </div>
                            </div>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
