<extend name="Public:base" />
<block name="title"><title>管他的什么标题</title></block>
<block name="header"><include  file="Public:header" /></block>
<block name="lefter"><include  file="Public:lefter" /></block>
<block name="content">
<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
	<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
		<ul class="layui-tab-title">
			<li class="layui-this">
				<i class="fa fa-dashboard" aria-hidden="true"></i>
				<cite>控制面板</cite>
			</li>
		</ul>
		<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
			<div class="layui-tab-item layui-show">
				<iframe src="{:U('Index/main')}"></iframe>
			</div>
		</div>
	</div>
</div>
</block>
<block name="footer"><include file="Public:footer" /></block>