<extend name="Public:admin" />
<block name="content">
<div class="layui-main">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	  <legend>汇总统计</legend>
	</fieldset>
	<div class="layui-form">
	  <table class="layui-table" id="suppliers">
	    <colgroup>
	      <col width="20">
	      <col width="20">
	      <col width="100">
	      <col width="50">
	      <col width="50">
	      <col width="50">
	      <col width="50">
	      <col width="50">
	      <col width="20">
	      <col width="100">
	      <col width="100">
	      <col>
	    </colgroup>
	    <thead>
	      <tr>
	        <th>ID</th>
	        <th>用户ID</th>
	        <th>商品名称</th>
	        <th>订单编号</th>
	        <th>套餐编号</th>
	        <th>金额</th>
	        <th>支付商</th>
	        <th>支付方式</th>
	        <th>交易状态</th>
	        <th>创建时间</th>
	        <th>修改时间</th>
	      </tr> 
	    </thead>
	    <tbody>
	    	<volist name="list" id="vo">
	    		<tr>
	    			<td>{$vo.id}</td>
	    			<td>{$vo.uid}</td>
	    			<td>{$vo.title}</td>
	    			<td>{$vo.out_trade_no}</td>
	    			<td>{$vo.channel_type}</td>
	    			<td>{:round($vo['money'] / 100,2)}</td>
	    			<td>{$vo.pay_type}</td>
	    			<td>{$vo.channel_type}</td>
	    			<td>{$vo.is_pay}</td>
	    			<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
	    			<td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
	    		</tr>
	    	</volist>
	    </tbody>
    </table>
   </div>
</div>
</block>